body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#choropleth {
    margin: auto;
    width: 960px;
    height: 600px;
}

#tooltip {
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
}
